:root {
  --primary-background: #ffffff;
  --first-background: #2f303a;
  --secondary-background: #f5f4fa;
  --line-header: #ececec;
  --accent-text: #2196f3;
  --primary-text: #212121;
  --secondary-text: #757575;
  --contacts-text: rgba(255, 255, 255, 0.6);
  --background-btn: #2196f3;
  --btn-color: #ffffff;
  --btn-active: #188ce8;
  --social-color: #afb1b8;
  --bgc-modal-color: rgba(0, 0, 0, 0.2);
  --bgc-work-desc: rgba(47, 48, 58, 0.8);
  --bgc-project: rgba(33, 150, 243, 0.9);
  --hero-color: #ffffff;
  --logo-header: #000000;
  --footer-color: #ffffff;
  --bgc-social-footer: rgba(255, 255, 255, 0.1);
  --logo-font: "Raleway", sans-serif;
  --prime-font: "Roboto", sans-serif;
}

:root {
  --primary-background: #ffffff;
  --first-background: #2f303a;
  --secondary-background: #f5f4fa;
  --line-header: #ececec;
  --accent-text: #2196f3;
  --primary-text: #212121;
  --secondary-text: #757575;
  --contacts-text: rgba(255, 255, 255, 0.6);
  --background-btn: #2196f3;
  --btn-color: #ffffff;
  --btn-active: #188ce8;
  --social-color: #afb1b8;
  --bgc-modal-color: rgba(0, 0, 0, 0.2);
  --bgc-work-desc: rgba(47, 48, 58, 0.8);
  --bgc-project: rgba(33, 150, 243, 0.9);
  --hero-color: #ffffff;
  --logo-header: #000000;
  --footer-color: #ffffff;
  --bgc-social-footer: rgba(255, 255, 255, 0.1);
}

.active {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.active:hover, .active:focus {
  color: var(--accent-text);
}

.title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.active.current {
  position: relative;
  color: var(--accent-text);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  min-width: 100%;
  height: auto;
  width: 100%;
}

.header a,
.footer a,
.contact {
  text-decoration: none;
}

.mob,
.text,
.address-list {
  text-decoration: none;
}

.list,
.address-list,
.contact {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  color: var(--social-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:hover, .social__link:focus {
  color: var(--btn-color);
  background-color: var(--accent-text);
}

.social__icon {
  fill: currentColor;
}

.btn {
  display: block;
  margin: 0 auto;
  padding: 10px 32px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  min-width: 216px;
  font-family: inherit;
  border-color: transparent;
  border-radius: 4px;
  color: var(--btn-color);
  background-color: var(--background-btn);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.btn-close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: inherit;
  cursor: pointer;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop .is-hidden {
  opacity: 0;
}

.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  background-color: var(--bgc-modal-color);
  -webkit-transition: opacity 300ms linear, visibility 300ms linear;
  transition: opacity 300ms linear, visibility 300ms linear;
}

.modal {
  width: 90%;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop .is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(1.15);
          transform: translate(-50%, -50%) scale(1.15);
}
@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}
.modal__title {
  display: block;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .modal__title {
    line-height: 1.15;
  }
}
.modal__field {
  display: block;
  margin-bottom: 10px;
}
.modal__label {
  margin-bottom: 4px;
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondary-text);
}
.modal__inner {
  position: relative;
}
.modal__input {
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 40px;
  width: 100%;
  outline: none;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input:hover, .modal__input:focus {
  border-color: var(--accent-text);
}
.modal__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: currentColor;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal .modal__input:hover + .modal__icon,
.modal .modal__input:focus + .modal__icon {
  fill: var(--accent-text);
}
.modal__field-textarea {
  display: block;
  margin-bottom: 20px;
}
.modal__textarea {
  resize: none;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  color: currentColor;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
.modal__textarea::-webkit-input-placeholder {
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__textarea::-moz-placeholder {
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__textarea:-ms-input-placeholder {
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__textarea::-ms-input-placeholder {
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__textarea::placeholder {
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
@media screen and (min-width: 1200px) {
  .modal__textarea {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
  }
}
.modal__checkbox-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  position: relative;
  top: 0;
  left: 0;
}
.modal__privacy {
  font-weight: 400;
  font-size: 12px;
  padding-left: 24px;
  line-height: 1.71;
  color: var(--secondary-text);
}
@media screen and (min-width: 1200px) {
  .modal__privacy {
    font-size: 14px;
    line-height: 1.71;
  }
}
.modal__privacy-link {
  line-height: 1.71;
  color: var(--accent-text);
}

.modal__field-textarea {
  margin-bottom: 20px;
}

.modal__input:hover,
.modal__input:focus,
.modal-textarea:hover,
.modal-textarea:focus {
  border: solid 1px var(--accent-text);
}

.modal-textarea {
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  width: 100%;
  outline: none;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-textarea::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.01em;
}
.modal-textarea::-moz-placeholder {
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.01em;
}
.modal-textarea:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.01em;
}
.modal-textarea::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.01em;
}
.modal-textarea::placeholder {
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.01em;
}

.modal__check {
  margin-right: 7px;
}

.modal__checkbox:checked + .modal__check .unchecked {
  opacity: 0;
}

.modal__checkbox:checked + .modal__check .checked {
  opacity: 1;
}

.checked {
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
}

.unchecked {
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-close:hover {
  color: var(--accent-text);
}

.btn-close__close {
  fill: currentColor;
}

body {
  font-family: var(--prime-font);
  color: var(--primary-text);
  background-color: var(--primary-background);
  letter-spacing: 0.03em;
  font-size: 14px;
}
@media screen and (max-width: 767px) {
  body {
    padding-top: 60px;
  }
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
.section {
  max-width: 1200px;
  margin: 0 auto;
}

@media screen and (max-width: 1199px) {
  .section {
    padding: 60px 0;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.team {
  background-color: var(--secondary-background);
}

.cards {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.card {
  max-width: 100%;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--primary-background);
}
@media screen and (min-width: 768px) {
  .card {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .card {
    width: calc((100% - 90px) / 4);
  }
}
.card__inner {
  padding: 30px 0;
  text-align: center;
}
.card__titel {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--primary-text);
}
.card__descr {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  color: var(--secondary-text);
}

.work {
  padding-top: 47px;
}
@media screen and (max-width: 1199px) {
  .work {
    display: none;
  }
}
.work__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
.work__item {
  position: relative;
  -ms-flex-preferred-size: calc((100% - 60px) / 3);
      flex-basis: calc((100% - 60px) / 3);
}
.work__inner {
  position: absolute;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  width: 100%;
  height: 70px;
  background-color: var(--bgc-work-desc);
}
.work__desc {
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--hero-color);
}

/* .about-work {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
} */
@media screen and (min-width: 1200px) {
  .advantage {
    padding-bottom: 47px;
  }
}
.advantage__list {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
@media screen and (max-width: 767px) {
  .advantage__item {
    max-width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .advantage__item {
    max-width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .advantage__item {
    max-width: calc((100% - 90px) / 4);
  }
}
.advantage__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
  background-color: var(--secondary-background);
  border-radius: 4px;
  margin-bottom: 30px;
}
.advantage__title {
  margin-bottom: 10px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}
@media screen and (max-width: 767px) {
  .advantage__title {
    margin-bottom: 10px;
    text-align: center;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
  }
}
.advantage__text {
  font-weight: 400;
  line-height: 1.71;
  color: var(--secondary-text);
}

.title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 30px;
}

.clients__list {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.clients__item {
  width: calc((100% - 30px) / 2);
}
@media screen and (min-width: 768px) {
  .clients__item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    width: calc((100% - 150px) / 6);
  }
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 92px;
  border: 1px solid var(--social-color);
  border-radius: 4px;
  color: var(--social-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover,
.clients__link:focus {
  border-color: var(--accent-text);
  color: var(--accent-text);
}

.clients__icon {
  fill: currentColor;
}

.footer {
  background-color: var(--first-background);
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .footer__inner {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__mob {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__mob {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (max-width: 1199px) {
  .footer-social {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-social {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    margin-right: 93px;
  }
}

.social-footer__title {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--footer-color);
}

@media screen and (max-width: 1199px) {
  .social-footer__title {
    text-align: center;
    margin-bottom: 20px;
  }
}
.social-list-footer {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  color: var(--footer-color);
}

.social-link-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  color: var(--footer-color);
  background-color: var(--bgc-social-footer);
}
.social-link-footer:hover, .social-link-footer:focus {
  color: var(--btn-color);
  background-color: var(--accent-text);
}

.social-icon-footer {
  fill: currentColor;
}

.social-footer__title {
  margin-bottom: 20px;
  color: var(--footer-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 20px;
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  color: var(--footer-color);
  text-decoration: none;
}
@media screen and (min-width: 1200px) {
  .footer-logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .address {
    margin-right: 165px;
  }
}
@media screen and (max-width: 769px) {
  .address {
    text-align: center;
    margin-bottom: 60px;
  }
}
@media screen and (max-width: 1199px) {
  .address {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .address {
    margin-right: 93px;
  }
}
.address__inner {
  font-style: normal;
}
.address__list:not(:last-child) {
  margin-bottom: 9px;
}
@media screen and (max-width: 1199px) {
  .address:last-child {
    margin-bottom: 60px;
  }
}

.address-link {
  line-height: 1.71;
  color: var(--footer-color);
}

.contact-link {
  line-height: 1.71;
  color: var(--contacts-text);
}

.btn--footer-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 200px;
  padding: 10px 28px;
}

@media screen and (max-width: 1199px) {
  .footer-field {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer-field {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.footer-field__icon-send {
  margin-left: 10px;
  fill: currentColor;
}
.footer-field__input {
  width: 100%;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: inherit;
  color: var(--footer-color);
}
.footer-field__input__input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.footer-field__input__input::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.footer-field__input__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.footer-field__input__input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.footer-field__input__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
@media screen and (min-width: 480px) and (max-width: 1199px) {
  .footer-field__input {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 1199px) {
  .footer-field__input {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-field__input {
    width: 358px;
    margin-right: 12px;
  }
}

.header-page {
  background-color: var(--primary-background);
  border-bottom: 1px solid var(--line-header);
}
@media screen and (max-width: 767px) {
  .header-page {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
}
.header-page__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 767px) {
  .header-page__container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.header__logo {
  display: inline-block;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-right: 93px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  color: var(--logo-header);
}
@media screen and (min-width: 768px) {
  .header__logo {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}
@media screen and (min-width: 1200px) {
  .header__logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo-web {
  color: var(--accent-text);
}

@media screen and (max-width: 767px) {
  .menu {
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 48px 40px;
    width: 100%;
    height: 100vh;
    -webkit-transform: translatex(-101%);
            transform: translatex(-101%);
    background-color: var(--primary-background);
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media screen and (min-width: 768px) {
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}
.menu.is-open {
  -webkit-transform: translatex(0);
          transform: translatex(0);
}
.menu-icon {
  fill: currentColor;
}

.mob-open-menu,
.mob-close-menu {
  background-color: transparent;
  border: none;
}
@media screen and (min-width: 768px) {
  .mob-open-menu,
.mob-close-menu {
    display: none;
  }
}

.mob-close-menu {
  position: absolute;
  top: 10px;
  right: 15px;
}

@media screen and (max-width: 767px) {
  .nav {
    margin-bottom: 40px;
  }
}
.nav__link {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: currentColor;
}
@media screen and (max-width: 767px) {
  .nav__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 40px;
    line-height: 1.18;
  }
  .nav__link:not(:last-child) {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 768px) {
  .nav__link {
    padding: 32px 0;
  }
  .nav__link:not(:last-child) {
    margin-right: 50px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
}
@media screen and (min-width: 1200px) {
  .nav__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
}
@media screen and (min-width: 768px) {
  .nav__page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (min-width: 768px) {
  .nav__page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.nav__item {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: currentColor;
}
@media screen and (max-width: 767px) {
  .nav__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 40px;
    line-height: 1.18;
  }
  .nav__item:not(:last-child) {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 768px) {
  .nav__item {
    padding: 32px 0;
  }
  .nav__item:not(:last-child) {
    margin-right: 50px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
}
@media screen and (min-width: 1200px) {
  .nav__item {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
  }
}
.nav__link-mob {
  position: relative;
  color: var(--accent-text);
}
@media screen and (min-width: 768px) {
  .nav__link-mob::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 4px;
    border: 1px solid var(--accent-text);
    border-radius: 2px;
    background-color: var(--accent-text);
  }
}

.contact {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--secondary-text);
}
@media screen and (max-width: 767px) {
  .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    font-size: 18px;
    line-height: 1.18;
  }
}
@media screen and (min-width: 768px) {
  .contact {
    margin-left: auto;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }
}
@media screen and (min-width: 1200px) {
  .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    line-height: 1.14;
  }
}
@media screen and (max-width: 767px) {
  .contact__item:not(:last-child) {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .contact__item:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contact__item:not(:last-child) {
    margin-right: 30px;
  }
}
.contact__tel {
  color: currentColor;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .contact__tel {
    font-size: 27px;
  }
}
@media screen and (max-width: 767px) {
  .contact__tel {
    color: var(--accent-text);
  }
}
.contact__mail {
  color: currentColor;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 767px) {
  .contact__mail {
    font-size: 24px;
    margin-bottom: 64px;
    display: block;
    line-height: 1.67;
  }
}
.contact__icon {
  margin-right: 8px;
  fill: currentColor;
}
@media screen and (max-width: 767px) {
  .contact__icon {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .contact__icon {
    margin-right: 10px;
  }
}

.contact-soc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (max-width: 479px) {
  .contact-soc {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 768px) {
  .contact-soc {
    display: none;
  }
}
.contact-soc__item {
  color: var(--accent-text);
  padding: 0 10px;
}
@media screen and (min-width: 480px) {
  .contact-soc__item:not(:first-child) {
    border-left: 1px solid rgba(33, 33, 33, 0.2);
  }
}
@media screen and (max-width: 479px) {
  .contact-soc__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    margin-bottom: 10px;
  }
  .contact-soc__item:nth-child(even) {
    border-left: 1px solid rgba(33, 33, 33, 0.2);
  }
}
.contact-soc__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-text);
}

.hero-section {
  background-color: var(--first-background);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../image/bgc-hero.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../image/bgc-hero.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
  background-repeat: no-repeat;
  max-width: 1600px;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .hero-section {
    padding: 118px 0;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../image/hero/mobile.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../image/hero/mobile.jpg");
  }
}
@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .hero-section {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../image/hero/mobile@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../image/hero/mobile@2x.jpg");
  }
}
@media screen and (min-width: 481px) {
  .hero-section {
    padding: 118px 0;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../image/hero/tablet.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../image/hero/tablet.jpg");
  }
}
@media screen and (min-width: 481px) and (min-device-pixel-ratio: 2), screen and (min-width: 481px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 481px) and (min-resolution: 192dpi), screen and (min-width: 481px) and (min-resolution: 2dppx) {
  .hero-section {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../image/hero/tablet@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../image/hero/tablet@2x.jpg");
  }
}
@media screen and (min-width: 1199px) {
  .hero-section {
    padding: 200px 0;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../image/hero/descktop.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../image/hero/descktop.jpg");
  }
}
@media screen and (min-width: 1199px) and (min-device-pixel-ratio: 2), screen and (min-width: 1199px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1199px) and (min-resolution: 192dpi), screen and (min-width: 1199px) and (min-resolution: 2dppx) {
  .hero-section {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../image/hero/descktop@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../image/hero/descktop@2x.jpg");
  }
}
.hero-section__title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--hero-color);
}
@media screen and (min-width: 479px) and (max-width: 767px) {
  .hero-section__title {
    width: 360px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .hero-section__title {
    width: 696px;
    margin-left: auto;
    margin-right: auto;
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero-section__btn {
  margin: 0 auto;
  padding: 10px 32px;
  min-width: 216px;
}

.btn-lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.btn-item:not(:last-child) {
  margin-right: 8px;
}

.btn-portfolio {
  padding: 6px 22px;
  background: #f5f4fa;
  border-color: transparent;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: inherit;
  cursor: pointer;
  border: none;
  background-color: var(--secondary-background);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.active-filter:focus,
.active-filter:hover {
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: var(--btn-color);
  background-color: var(--background-btn);
}

.active-btn:focus,
.active-btn:hover {
  background-color: var(--btn-active);
}

.active-btn {
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.project-item {
  -ms-flex-preferred-size: calc((100% - 60px) / 3);
      flex-basis: calc((100% - 60px) / 3);
}

.project-link {
  display: block;
  text-decoration: none;
  color: inherit;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-wrap {
  position: relative;
  overflow: hidden;
}

.hover-project {
  padding: 63px 24px;
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: var(--btn-color);
  background-color: var(--bgc-project);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-link:hover .hover-project,
.project-link:focus .hover-project {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.project-link:hover,
.project-link:focus {
  outline: none;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-container {
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.project-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-description {
  font-size: 16px;
  line-height: 1.88;
  color: var(--secondary-text);
}/*# sourceMappingURL=main.css.map */