:root {
  --primary-background: #ffffff;
  --first-background: #2f303a;
  --secondary-background: #f5f4fa;

  --line-header: #ececec;

  --accent-text: #2196f3;
  --primary-text: #212121;
  --secondary-text: #757575;
  --contacts-text: rgba(255, 255, 255, 0.6);

  --background-btn: #2196f3;
  --btn-color: #ffffff;
  --btn-active: #188ce8;

  --social-color: #afb1b8;

  --bgc-modal-color: rgba(0, 0, 0, 0.2);
  --bgc-work-desc: rgba(47, 48, 58, 0.8);
  --bgc-project: rgba(33, 150, 243, 0.9);
  --hero-color: #ffffff;
  --logo-header: #000000;
  --footer-color: #ffffff;
  --bgc-social-footer: rgba(255, 255, 255, 0.1);
}
